<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="InStore_PickUp::pickup_stores"
             title="Pickup Stores"
             translate="title"
             module="InStore_PickUp"
             sortOrder="100"
             parent="Magento_Backend::stores_settings"
             action="stores/pickup"
             resource="InStore_PickUp::pickup_stores"/>
    </menu>
</config>