<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
            for="\Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection"
            type="\Academy\Lesson8\Model\ResourceModel\Fulltext\Collection" />
    <type name="\Magento\Quote\Model\Quote">
        <plugin
                name="academy_lesson7_quoteplugin"
                type="\Academy\Lesson8\Plugin\Model\QuotePlugin"
                sortOrder="1"
                disabled="false"/>
    </type>
    <type name="\Magento\Customer\Model\EmailNotification">
        <plugin
                name="academy_lesson7_emailnotificationplugin"
                type="\Academy\Lesson8\Plugin\Customer\Model\EmailNotificationPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>
    <type name="\Magento\Customer\Controller\Account\LoginPost">
        <plugin
                name="academy_lesson7_loginpostplugin"
                type="\Academy\Lesson8\Plugin\Controller\Account\LoginPostPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>
</config>